[Desktop Entry]
Name=Qsynth
Version=1.0
GenericName=FluidSynth GUI
GenericName[sr]=Кју-синт
GenericName[fr]=Interface graphique pour FluidSynth
Comment=Qsynth is a FluidSynth Qt GUI Interface
Comment[sr]=Програм за управљање програмом Флуид-синт, у графичком окружењу.
Comment[fr]=Interface graphique pour Fluidsynth
Exec=qsynth
Icon=qsynth
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;FluidSynth;SoundFont;Synthesizer;Sampler;SF2;Qt;
Terminal=false
Type=Application
StartupWMClass=qsynth
X-Window-Icon=qsynth
X-SuSE-translate=true
